
@{
    ViewBag.Title = "CertificazioniUniche";
    Layout = "~/Views/Shared/_IscrittoLayout.cshtml";
}

<div class="card card-default">
    <div style="background-color: #0c773c" class="card-header">
        <h3 style="color:white;text-align:center;width:100%;font-size:20px" class="card-title">Dati Matricola</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label>Matricola</label>
                    <input type="text" class="form-control" value="@ViewData["Matricola"]" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Nominativo</label>
                    <input type="text" class="form-control" value="@ViewData["Nominativo"]" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Codice Fiscale</label>
                    <input type="text" class="form-control" value="@ViewData["CodiceFis"]" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label>Indirizzo</label>
                    <input type="text" class="form-control" value="@ViewData["Indirizzo"]" disabled>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group">
                    <label>CAP</label>
                    <input type="text" class="form-control" value="@ViewData["Cap"]" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label>Comune</label>
                    <input type="text" class="form-control" value="@ViewData["Comune"]" disabled>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Provincia</label>
                    <input type="text" class="form-control" value="@ViewData["Provincia"]" placeholder="Inserire Provincia" disabled>
                </div>
            </div>
        </div>
    </div>
</div>
<h4 style="color:red;font-size:15px"><u>LE SOMME RELATIVE ALLE LIQUIDAZIONI DI TFR E FONDO DI PREVIDENZA NON VANNO INDICATE NEL MODELLO UNICO O 730. </u></h4>
<br />
<br />
<center> <p style="color:#0c773c;font-size:20px">Non risultano CUD per questa matricola.</p></center>
