
@{
    ViewBag.Title = "RichiestaContoIndividuale";
    Layout = "~/Views/Shared/_IscrittoLayout.cshtml";
}

<style>

    .table th {
        text-align: right;
        vertical-align: middle;
    }

    .table td {
        text-align: center;
        vertical-align: middle;
    }

    .table label:not(.form-check-label):not(.custom-file-label) {
        font-weight: 100;
    }

    .table tr {
        height: 60px;
    }

    
</style>

<div class="card">
    <div style="background-color:#0c773c;color:white;text-align:center;font-weight:600;font-size:20px" class="card-header">Richiesta Pagamento Conto Individuale Iscritto</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <table id="tblRDL" class="table table-bordered">

                    <tr>
                        <th>Matricola</th>
                        <td><label>@ViewData["Matricola"]</label></td>
                    </tr>
                    <tr>
                        <th>Cognome</th>
                        <td><label>@ViewData["Cognome"]</label></td>
                    </tr>
                    <tr>
                        <th>Nome</th>
                        <td><label>@ViewData["Nome"]</label></td>
                    </tr>
                    <tr>
                        <th>Codice Fiscale</th>
                        <td><label>@ViewData["CodiceFis"]</label></td>
                    </tr>
                    <tr>
                        <th>Sesso</th>
                        <td><label>@ViewData["Sesso"]</label></td>
                    </tr>
                    <tr>
                        <th>Indirizzo</th>
                        <td><label>@ViewData["Indirizzo"]</label></td>
                    </tr>
                    <tr>
                        <th>Comune</th>
                        <td><label>@ViewData["Comune2"]</label></td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <table id="tblRDL1" class="table table-bordered ">
                    <tr>
                        <th>Data di nascita</th>
                        <td><label>@ViewData["DataNascita"]</label></td>
                    </tr>

                    <tr>
                        <th>Comune di nascita</th>
                        <td><label>@ViewData["Comune"]</label></td>
                    </tr>
                    <tr>
                        <th>Provincia di nascita</th>
                        <td><label>@ViewData["Provincia"]</label></td>
                    </tr>
                    <tr>
                        <th>Stato Est. Nascita</th>
                        <td><label>@ViewData["StatoEstero"]</label></td>
                    </tr>

                    <tr>
                        <th>CAP</th>
                        <td><label>@ViewData["Cap"]</label></td>
                    </tr>
                    <tr>
                        <th>Provincia</th>
                        <td><label>@ViewData["Provincia2"]</label></td>
                    </tr>
                    <tr>
                        <th>Stato Estero</th>
                        <td><label>@ViewData["StatoEstero"]</label></td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <table id="tblRDL2" class="table table-bordered ">
                    <tr>
                        <th>Località</th>
                        <td><label>@ViewData["Comune2"]</label></td>
                    </tr>

                    <tr>
                        <th>Telefono</th>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <th>Telefono2</th>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <th>Cellulare</th>
                        <td><label>@ViewData["Cellulare"]</label></td>
                    </tr>

                    <tr>
                        <th>Fax</th>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td><label>@ViewData["Email"]</label></td>
                    </tr>
                    <tr>
                        <th>PEC</th>
                        <td><label>@ViewData["EmailCert"]</label></td>
                    </tr>
                </table>
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Data chiusura rapporto assicurativo con ENPAIA</label>
                    <input type="date" class="form-control" placeholder="Inserire Data Chiusura Rapporto">
                </div>
            </div>
        </div>
        
        <center><p style="font-size:20px"><strong>Modalità di Pagamento FP</strong></p></center>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <input type="checkbox" /><label style="font-weight:600">&nbsp;Bonifico Bancario</label>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label>IBAN</label>
                    <input type="text" class="form-control" placeholder="Inserire IBAN">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>BIC/SWIFT</label>
                    <input type="text" class="form-control" placeholder="Inserire BIC/SWIFT">
                    <p>(Solo per bonifici esteri)</p>
                </div>
            </div>
        </div>
        <br />
        <center><p style="font-size:20px"><strong>Modalità di Pagamento TFR </strong></p></center>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <input type="checkbox" /><label style="font-weight:600">&nbsp;Assegno di Traenza (per importi fino a 3000euro)</label>
                </div>
            </div>
        </div>
        <br />
        <input type="submit" class="btn" value="Salva" style="background-color:#0c773c;color:white;font-size:20px;float:right" />
    </div>
</div>
